{# templates/incl/footer.html.twig #}

<div class="footer">
    <div class="footer">

            <div class="footer-item">
                <p>© 2021 Erik Sjöberg |
                    <a href="https://github.com/blajban">Github</a> |
                    <a href="https://www.linkedin.com/in/erik-sj%C3%B6berg-6aa8022a/">Linkedin</a>
                </p>
            </div>

    </div>
    
</div>
<div class="bottom"></div>
