{# templates/incl/nav.html.twig #}

<header class="header">
    <div class="header-content">
        <h1>Erik Sjöberg</h1>
        
        <nav class="nav">
            <a href="/">Hem</a>
            <a href="/about">Om</a>
            <a href="/report">Redovisning</a>
        </nav>
    </div>
    
</header>


