.about {
    display: grid;
    
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-gap: 2em;
}

.col1 {
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    ' . heading heading heading heading . . . . . . . '
    '. . middle middle middle middle middle middle middle middle . .';

    background-color: $background-alternative-color;
    
    .heading {
        grid-area: heading;
        padding-top: 2em;
        background-color: $background-color;
        padding-left: 1em;
    }

    .middle {
        grid-area: middle;
        padding-top: 2em;
        max-width: 760px;
    }
}

@media (max-width: 1042px) {
    .col1 {
        grid-template-areas:
        ' . heading heading heading heading heading heading . . . . . '
        '. . middle middle middle middle middle middle middle middle . .';
    }
}

@media (max-width: 760px) {
    .col1 {
        grid-template-areas:
        ' . heading heading heading heading heading heading heading heading . . . '
        '. . middle middle middle middle middle middle middle middle . .';
    }
}

@media (max-width: 560px) {
    .about {
        grid-template-columns: 1fr;
    }
    
    .col1 {
        grid-template-areas: 
        ' heading '
        ' middle ';
    }
}
