// Footer
.footer {
    display: grid;
    min-height: $footer-min-height;
    
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-gap: 2em;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    ' . . . . . . . . . . . . '
    '. . left left middle middle middle . right right . .';

    background-color: $background-color-light;


    i {
        color: $font-alternative-color;
        font-size: 2em;
    }
    
    .left {
        grid-area: left;
    }

    .middle {
        grid-area: middle;
    }

    .right {
        grid-area: right;
    }

    h3,
    h4 {
        color: $accent-color;
    }

    p {
        color: $font-alternative-color;
    }
}

@media (max-width: 979px) {
    .footer {
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        ' . . . . . . . . . . . . '
        '. left . middle middle middle middle middle middle middle middle . '
        '. . . right right right right right right right right . ';

        padding-bottom: 2em;
    }
}

@media (max-width: 560px) {    
    .footer {
        grid-template-columns: 1fr;
        grid-template-areas: 
        ' left '
        ' middle '
        ' right ';

        padding-top: 2em;

        .left,
        .social {
            padding-left: 20px;
        }

        .social h4,
        .social p {
            padding-left: 0;
        }
    }
}
