// Header
.header {
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    ' . logo logo logo . . . nav nav nav nav . '
    '. . title title title title title title title . . .';

    height: $block-height-desktop;
    max-height: $block-max-height-desktop;


    .nav {
        grid-area: nav;
    }

    .logo {
        grid-area: logo;
        padding: 1em 0;
    }

    .heading {
        grid-area: title;
        margin: auto 0;
    }
}

@media (max-width: 979px) {
    .header {
        grid-template-areas:
        ' . logo logo logo . . . nav nav nav nav . '
        '. title title title title title title title title title title .';
    }
}

@media (max-width: 868px) {
    .header {
        grid-template-areas:
        ' . nav nav nav nav nav nav nav nav nav nav . '
        '. title title title title title title title title title title .';

        .logo {
            grid-area: nav;
        }
    }
}


@media (max-width: 560px) {    
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        ' nav nav'
        ' title title '
        ' . . ';
        
        .logo,
        .nav {
            padding-left: 20px;
            padding-right: 20px;
        } 
    }

    
}
