.hero {
    background-color: #ccc;
    min-height: $block-min-height-desktop;
    height: $block-height-desktop;
    max-height: $block-max-height-desktop;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: $font-alternative-color;
        text-shadow: 3px 3px 5px rgba(32, 32, 32, 0.6);
    }

    h2 {
        color: $accent-color;
        text-shadow: 3px 3px 5px rgba(32, 32, 32, 0.7);
    }

}

.home-image {
    background-image: $hero-image-home;
}

.about-image {
    background-image: $hero-image-about;
}

.highlight-image {
    background-image: $hero-image-highlight;
}
