
// Colors
$font-color: #080b34;
$font-alternative-color: #fef1e0;
$accent-color: #f2ca27;
$background-color: #080b34;
$background-color-light: #1f4e52;
$background-color-light-alternative: #dbf058;
$background-alternative-color: #fef1e0;

// Fonts
$heading-font: 'Oswald', sans-serif;
$body-font: 'Raleway', sans-serif;

// Sizes
$block-min-height-desktop: 640px;
$block-height-desktop: 100vh;
$block-max-height-desktop: 1080px;
$footer-min-height: 320px;
$image-block-height: 768px;

// Background images
$hero-image-home: url('../../../image/forest.jpg?w=1920&h=1080&q=50');
$hero-image-about: url('../../../image/balloons.jpg?w=1920&h=1080&q=50');
$hero-image-highlight: url('../../../image/wanderer.jpg?w=1920&h=1080&q=50');

/* Colors:

#080B34
(#215357)
#F2CA27
(#EFE33E)
#FEF1E0

*/
