@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'base';
@import 'typography';
@import 'header-nav';
@import 'hero-area';
@import 'content-area';
@import 'footer';
@import 'cards';





