.playing-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    background-color: white;
}

.spades {

}

.tiles {

}

.hearts {

}

.clubs {

}

.value1 {

}

.value2 {
    
}

.value3 {
    
}

.value4 {
    
}

.value5 {
    
}

.value6 {
    
}

.value7 {
    
}

.value8 {
    
}

.value9 {
    
}

.value10 {
    
}

.value11 {
    
}

.value12 {
    
}

.value13 {
    
}

.value14 {
    
}