$font-stack: 'Lato', sans-serif;
$content-max-width: 60em;

$block-min-height-desktop: 200px;
$block-height-desktop: 100vh;
$block-max-height-desktop: 1080px;

$color-header-bar: #2C3E50;
$color-hero-area: #16A085;
$color-footer: #dbdee0;
$font-color: #272727;
$font-color-white: #fcf4e9;
$background-color: #fcf4e9;

// Playing cards
$card-background: #fff;
$cardback-background: #2C3E50;
$card-padding: 4px;
$card-width: 172px;
$card-height: 240px;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 40px;
$card-font-size: 72px;
$gutter: 10px;
$card-padding: 4px;