{# templates/report.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}

    <div class="content-area">
        <div class="card-area">

            {% for card in deck %}
                <div class="card {{ card.getCssColor() }} value{{ card.getValue() }}">
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


