{# templates/report.html.twig #}

{% include 'incl/header.html.twig' %}


<body>
    {% include 'incl/nav.html.twig' %}

    {% include 'incl/card-nav.html.twig' %}

    <div class="content-area">
        <div class="content">
            

            <div class="card-area">

                <h4>Remaining cards</h4>
                <div class="player-area">
                    <div class="card back">{{ remaining_cards }}</div>
                </div>

                {% for player in players %}
                <h4>{{ player.getName() }}</h4>
                    <div class="player-area">
                        
                    
                        {% for card in player.getHand() %}
                            <div class="card {{ card.getCssColor() }} value{{ card.getValue() }}">
                            </div>
                        {% endfor %}

                    </div>
                {% endfor %}

            </div>

            
            
        </div>
    </div>

    {% include 'incl/footer.html.twig' %}
</body>

</html>


